body {
    top: 0;
    left: 0;
    margin: 0;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    background-image: url("../images/Naamloos-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    animation: fade 0.5s ease-in;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

a {
    text-decoration: none;
    user-select: none;
}


.myname {
    font-family: 'Dancing Script', cursive;
    padding: 0;
    font-size: 1.02em;
    min-width: 10em;
    margin: 0;
}

.navbar div {
    position: absolute;
    right: 0;
    margin-right: 2em;
}


.project-button {
    color: black;
    background-color: white;
    border: 1px solid slategray;
    padding: 0.25em;
    box-shadow: 0.125em 0.125em 0.25em gray;
    font-size: 0.8em;
    padding: 0.5em;
    border-style: none;
    cursor: pointer;
}

.project-button:hover, .project-button:focus {
    color: black;
    box-shadow: 0.15em 0.15em 0.25em gray;
    background-color: whitesmoke;
    color: dimgray;
}

.credits {
    display: none;
}

.navbar {
    box-shadow: 0.15em 0 0.25em gray;
    font-size: 1.25em;
    padding: 0.6em 2em;
    background-color: white;
    display: flex;
    max-width: 100%;
    user-select: none;
}

.nav-button {
    margin: 0.3em 0.3em 0 0.3em;
    font-size: 0.8em;
    color: gray;
}

.nav-button2 {
    border-bottom: 1px solid gray;
    margin: 0.3em 0.3em 0 0.3em;
    font-size: 0.8em;
    color: gray;
}

.nav-button2:hover, .nav-button2:focus {
    color: darkgray;
    border-bottom-color: gainsboro;
}

.nav-button:hover, .nav-button:focus {
    color: darkgray;
    border-bottom: 1px solid gainsboro;
}


.content {
    display: flex;
}

.headshot {
    max-height: 100%;
    max-width: 100%;
    transform: scaleX(-1);
}

.img-region {
    margin: 7em 0em 0em 4em;
    max-width: 25%;
    max-height: 20%;
}

.content-section {
    margin: 7em 7em 0em 6em;
    max-width: 50%;
}

.twitter-timeline {
    
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
    user-select: none;
}

.greeting {
    margin-bottom: 0;
    padding: 0;
}

.section-title {
    margin-top: 0;
}

.social-media-logo {
    margin: 0.2em;
    max-height: 2em;
    max-width: 2em;
}

/* begin about.html */

.skill-list {
    user-select: none;
}

.skill-list li {
    list-style-type: none;
}

.skill-balk1 {
    display: flex;
    background-color: white;
    margin: 0.3em 2em 0.3em 0.3em;
    padding: 0.25em;
}

.procent1 {
    padding: 0;
    margin: 0 0 0 11.8em;
}

.skill-balk2 {
    display: flex;
    background-color: white;
    margin: 0.3em 8em 0.3em 0.3em;
    padding: 0.25em;
}

.procent2 {
    padding: 0;
    margin: 0 0 0 5em;
}

.skill-balk3 {
    display: flex;
    background-color: white;
    margin: 0.3em 3.7em 0.3em 0.3em;
    padding: 0.25em;
}

.procent3 {
    padding: 0;
    margin: 0 0 0 10em;
}

.skill-balk4 {
    display: flex;
    background-color: white;
    margin: 0.3em 1.2em 0.3em 0.3em;
    padding: 0.25em;
}

.procent4 {
    padding: 0;
    margin: 0 0 0 10.5em;
}

.skill-balk5 {
    display: flex;
    background-color: white;
    margin: 0.3em 4em 0.3em 0.3em;
    padding: 0.25em;
}

.procent5 {
    padding: 0;
    margin: 0 0 0 9.7em;
}

.skill-balk6 {
    display: flex;
    background-color: white;
    margin: 0.3em 3.5em 0.3em 0.3em;
    padding: 0.25em;
}

.procent6 {
    padding: 0;
    margin: 0 0 0 6.8em;
}

.info-top h2 {
    text-align: center;
    padding-top: 1em;
}

.info-top p {
    padding: 1em 17em 0 17em;
}

.info-bottom {
    display: flex;
    justify-content: center;
}

.skills-title {
    margin-left: 2.85em;
}

.facts-title {
    margin-left: 2.3em;
    
}

.cv-link {
    text-align: center;
    margin: 2.3em;
    background-color: rgb(219,112,147,0.7);
    padding: 1em;
    max-width: 12em;
    cursor: pointer;
}

.cv-link a {
    color: black;
}

.cv-link:hover, .cv-link:active {
    background-color: rgb(219,112,147,0.9);
}

/* start projects.html */

.projects-body {
    background-attachment: fixed;
}

.nav-projects {
    text-align: center;
    margin-top: 2em;
}

.nav-projects a {
    color: gray;
    margin: 1em;
}

.nav-projects1 {
    border-bottom: solid 0.05em gray;
}

.nav-projects a:hover, .nav-projects a:active {
    color: darkgray;
    border-bottom: solid 0.05em darkgray;
}

.project-section {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
}

.project-section a img {
    height: 8em;
    width: 12em;
    margin: 1em 1em 1em 2em;
}

.art-section a img {
    height: 18em;
    width: 18em;
}

.project-section div {
    background-color: rgba(255,255,255,0.7);
    max-width: 16em;
    margin: 2em 2em 0 2em;
    padding: 1em 1em 0 1em;
    display: grid;
    grid-template-areas: 
        "img"
        "description" 
        "link-zin"
        ;
}

.pp1 {
    font-size: 0.8em;
    text-align: center;
}

.pp2 {
    font-size: 0.5em;
}

.footer2 {
    position: relative;
    text-align: center;
}

.github {
    text-align: center;
    margin: 5em auto 7em auto;
    cursor: pointer;
}

.github a {
    color: black;
    width: 25em;
    height: 2em;
    background-color: rgba(255,255,255,0.7);
    padding: 1em 2em 1em 2em;
    font-size: 0.9em;
}

.github a:hover, .github a:active {
    background-color: white;
}

.art-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

.art-section a {
    margin: 1em;
}

/* start contact.html */

.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    width: 35.5em;
    height: 25em;
}

.form div {
    border-style: none;
    display: flex;
    flex-direction: row;
}

.form div input{
    border-style: none;
    outline: none;
    margin: 1em;
    min-width: 20em;
    min-height: 2em;
    font-size: 0.8em;  
}

::placeholder {
    color: gainsboro;
}

.message {
    border-style: none;
    margin: 1em;
    font-size: 0.8em;
    width: 94.5%;
    height: 14em;
    margin: 1em;
    outline: none;
    resize: none;
}

.file {
    outline: none;
    margin: 1em;
    cursor: pointer;
}

.submit {
    outline: none;
    width: 8em;
    border-radius: none;
    border: none;
    margin: 1.5em auto 0 auto;
    background-color: rgb(219,112,147,0.8);
    padding: 0.8em 2em 0.8em 2em;
    font-size: 0.8em;
    cursor: pointer;

}

.submit:hover, submit:active {
    background-color: rgb(219,112,147,1);
}

.contact h2 {
    text-align: center;
    margin-top: 2em;
}

.contact p {
    max-width: 70vw;
    margin: auto;
    margin-bottom: 1.5em;
    text-align: center;
}